@import "./settings";
@import "./common";

.header {
    padding: 2px 5px;
    display: flex;
    background-color: #535353;
}

.alpha {
    font-size: 11px;
    text-align: right;
    color: #fff;
    flex-grow: 1;
}