@import "./settings";

.header {
  background-color: var(--base-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.menu {
  display: flex;
  height: var(--header-height);
  line-height: var(--header-height);
  position: relative;
}

.menu_child {
  position: absolute;
  top: var(--header-height);
  left: 0;
  background-color: var(--base-color);
  display: none;
}

.menu_child_item,
.item {
  padding: 0 13px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);

    .menu_child {
      display: block;
    }
  }
}

.icon {
  margin-right: 5px;
  font-size: 16px;
}